.container {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, rgb(13, 14, 13), rgb(234, 241, 234));
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    

}

h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

p { text-align: justify;
    font-size: 1.2rem;
   
    color: white;
}

.left-side {
    flex-basis: 30%;

}

.right-side {
    /* border:0.5px solid antiquewhite; */
    /* box-shadow: 2 0 6px antiquewhite; */
    flex-basis: 50%;
    height: 500px;
    display: grid;
    grid-template-areas: "st nd nd"
        "st rd foth"
        "fith fith foth"
        "sith seth seth";
        gap:10px;

}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.box:hover{
    box-shadow:0 2px 8px #000;
}
.box1 {
    background-size: cover;
    grid-area: st;
    text-align: center;
    color:white;
}


.box2 {
    background:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url('https://media.istockphoto.com/id/177347141/photo/close-of-blue-flower.jpg?s=612x612&w=is&k=20&c=a31yVbSv0AbZJkPOZ4EHkwVY-fYtZ6H9NUn9DKVvqGk=');
    background-size: cover;
    background-position: center;
    grid-area: nd;
    text-align: center;
    color:white;
}

.box3 {
    background:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url('https://images.unsplash.com/photo-1469259943454-aa100abba749?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  
    background-size: cover;
    background-position: center;
    grid-area: rd;
    text-align: center;
    color:white;
}
.box4{
    background-size: cover;
    grid-area: foth;
    text-align: center;
    color:white;
    }
    .box5{
        background-size: cover;
        grid-area: fith;
        text-align: center;
        color:white;
        }
        .box6{
            background:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url('https://media.istockphoto.com/id/1385500592/photo/adorable-blooming-pansies-in-summer-garden-on-natural-background.jpg?b=1&s=170667a&w=0&k=20&c=0E31KWADlxfk8bksf4MMh-HRqUTZKZLCrthUF9VNiYc=');
            background-size: cover;
            background-position: center;
            grid-area: sith;
            text-align: center;
            color:white;
            }

.box7 {
    background-size: cover;
    grid-area: seth;
    text-align: center;
    color:white;
}
@media screen and (max-width:768px)   {

    .container{
        flex-direction: column;
        background: linear-gradient(to bottom, rgb(13, 14, 13), rgb(234, 241, 234));
    }
    
    .right-side{
        width: 90%;

    }
    p{
        text-align: justify;
        margin-inline: 20px ;
    }
    
}
@media screen and (orientation: portrait)   {

    .container{
        flex-direction: column;
        background: linear-gradient(to bottom, rgb(13, 14, 13), rgb(234, 241, 234));
    }
    
    .right-side{
        width: 90%;

    }
    p{
        text-align: justify;
        margin-inline: 20px ;
    }
    
}